---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import MailIcon from "../components/icons/Mail.astro";
import SocialPill from "../components/SocialPill.astro";
import Experience from "../components/Experience.astro";
import Plant from "../components/icons/Plant.astro";
import Code from "../components/icons/Code.astro";
import Css3 from "../components/icons/Css3.astro";
import Html5 from "../components/icons/Html5.astro";
import LinkButton from "../components/LinkButton.astro";
import Link from "../components/icons/Link.astro";
import Android from "../components/icons/Android.astro";
import Java from "../components/icons/Java.astro";
import TechnologiePill from "../components/TechnologiePill.astro";
import StudyItem from "../components/Study.astro";
import School from "../components/icons/School.astro";
import GoodFinger from "../components/icons/GoodFinger.astro";
import SkillsItem from "../components/SkillsItem.astro";
---

<Layout
  title="Ahtesam Porfolio - Web Developer and Full stack Programmer"
  description="Hire Ahtesam to build your web or mobile application. Web Developer and Full-Stack Developer, specialized in creating unique applications."
>
  <main class="mx-4 mt-28 md:mt-40">
    <SectionContainer id="top">
      <div
        class="flex flex-col lg:flex-row md:flex-row gap-6 max-w-[35rem] md:max-w-max"
      >
        <img
          class="flex-none max-w-[150px] max-h-[150px] lg:max-w-[200px] lg:max-h-[200px] lg:order-2 md:order-2 w-full rounded-xl text-pretty shadow-md"
          src="/ahtesam-image.webp"
          alt="Ahtesam Muhammad photo"
        />
        <div class="flex-1">
          <h1
            class="flex flex-col sm:flex-row gap-1 items-start sm:items-center text-2xl sm:text-3xl md:text-4xl font-bold gap-x-2 mb-4"
          >
            Hey, I'm Ahtesam <Badge>Available for work</Badge>
          </h1>
          <p
            class="text-sm md:text-xl text-pretty md:leading-7 text-gray-600 mb-6"
          >
            <span>+3 years of experience.</span>
            <span class="text-orange-400 font-medium"
              >Web Developer and Full-stack Programmer.</span
            > From Barcelona, Spain ✈️. Focused on designing websites that are truly
            one of a kind 👨‍💻.
          </p>
        </div>
      </div>
      <ul class="flex gap-3 sm:gap-4 flex-wrap ">
        <li>
          <SocialPill href="https://github.com/AhtesamMuhammad">
            <GitHubIcon class="size-5" />
            GitHub
          </SocialPill>
        </li>
        <li>
          <SocialPill href="https://www.linkedin.com/in/ahtesamm/">
            <LinkedInIcon class="size-5" />
            LinkedIn
          </SocialPill>
        </li>
        <li>
          <SocialPill href="mailto:ahtesam.work@gmail.com">
            <MailIcon class="size-5" />
            ahtesam.work@gmail.com
          </SocialPill>
        </li>
      </ul>
    </SectionContainer>
    <SectionContainer id="experience">
      <h2 class="mb-8 text-3xl font-semibold flex items-center gap-4">
        <Plant class="size-8 font-bold" />
        Work experience
      </h2>
      <Experience />
    </SectionContainer>
    <SectionContainer id="projects">
      <article>
        <h2 class="text-3xl font-semibold flex gap-4 items-center mb-8">
          <Code class="size-8" />
          Projects
        </h2>
        <div class="flex flex-col md:flex-row gap-4 md:gap-8 mb-12">
          <div class="w-full sm:w-1/2 overflow-hidden rounded-xl shadow-md">
            <img
              class="w-full h-full object-cover object-left border hover:scale-105 transition duration-300"
              src="/imgs/omnifood-image.webp"
              alt="omnifood company that works with ia for deliver food"
            />
          </div>
          <div
            class="w-full md:w-1/2 md:max-w-lg flex flex-col justify-between"
          >
            <h3 class="mb-2 font-bold text-2xl text-pretty">
              Omnifood - Smart Meal Delivery Platform
            </h3>
            <ul class="flex gap-x-4 flex-wrap gap-3 mb-3">
              <TechnologiePill
                class="bg-orange-400 border-orange-300 text-white"
              >
                <Html5 class="size-5" />
                HTML5
              </TechnologiePill>
              <TechnologiePill class="bg-blue-400 border-blue-300 text-white">
                <Css3 class="size-5" />
                CSS3
              </TechnologiePill>
            </ul>
            <p class="text-gray-600 mb-3">
              This project was created using HTML and CSS, leveraging both Grid
              and Flexbox for layout design. It includes responsive features and
              a functional call-to-action for a real-world feel.
            </p>
            <ul class="flex gap-4">
              <li>
                <LinkButton
                  href="https://github.com/AhtesamMuhammad/frontend-development-practice/tree/main/omnifood-desktop"
                >
                  <GitHubIcon class="size-5" />
                  Code
                </LinkButton>
              </li>

              <li>
                <LinkButton href="https://omnifood-ahtesam.netlify.app/">
                  <Link class="size-5" />
                  Preview
                </LinkButton>
              </li>
            </ul>
          </div>
        </div>
        <div class="flex flex-col md:flex-row gap-4 md:gap-8">
          <div
            class="w-full order-2 sm:order-1 md:max-w-lg flex flex-col justify-between"
          >
            <h3 class="mb-2 font-bold text-2xl text-pretty">
              MovieHub - Android App for Exploring Movies via API
            </h3>
            <ul class="flex gap-x-4 flex-wrap gap-3 mb-3">
              <TechnologiePill class="bg-green-400 border-green-300 text-white">
                <Android class="size-5" />
                Android
              </TechnologiePill>
              <TechnologiePill
                class="bg-orange-400 border-orange-300 text-white"
              >
                <Java class="size-5" />
                Java
              </TechnologiePill>
            </ul>
            <p class="text-gray-600 mb-3">
              This project was created using HTML and CSS, leveraging both Grid
              and Flexbox for layout design. It includes responsive features and
              a functional call-to-action for a real-world feel.
            </p>
            <ul class="flex gap-4">
              <li>
                <LinkButton href="https://github.com/AhtesamMuhammad/MovieHub">
                  <GitHubIcon class="size-5" />
                  Code
                </LinkButton>
              </li>
            </ul>
          </div>
          <div
            class="md:w-full sm:w-1/2 order-1 sm:order-2 overflow-hidden rounded-xl shadow-md"
          >
            <img
              class="w-full h-full object-cover object-left border hover:scale-105 transition duration-300"
              src="/imgs/MovieHub.webp"
              alt="Mobile app use and interpret the The Movie Database API"
            />
          </div>
        </div>
        <a
          class="block text-sm text-center mt-10 md:mt-14 underline text-orange-400"
          href="https://github.com/AhtesamMuhammad"
          target="_blank"
          rel="noopener">See more projects &rarr;</a
        >
      </article>
    </SectionContainer>
    <SectionContainer id="studies">
      <h2 class="text-3xl font-semibold flex items-center gap-4 mb-8">
        <School class="size-8" />
        Studies
      </h2>
      <StudyItem />
    </SectionContainer>
    <SectionContainer id="skills">
      <h2 class="text-3xl font-semibold flex items-center gap-4 mb-8">
        <GoodFinger class="size-8" />
        Skills
      </h2>
      <SkillsItem />
    </SectionContainer>
  </main>
</Layout>
