---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import MailIcon from "../components/icons/Mail.astro";
import SocialPill from "../components/SocialPill.astro";
import Experience from "../components/Experience.astro";
import Plant from "../components/icons/Plant.astro";
import Code from "../components/icons/Code.astro";
import StudyItem from "../components/Study.astro";
import School from "../components/icons/School.astro";
import GoodFinger from "../components/icons/GoodFinger.astro";
import SkillsItem from "../components/SkillsItem.astro";
import Project from "../components/Project.astro";
---

<Layout
  title="Ahtesam Porfolio - Web Developer and Full stack Programmer"
  description="Hire Ahtesam to build your web or mobile application. Web Developer and Full-Stack Developer, specialized in creating unique applications."
>
  <main class="mx-4 mt-28 md:mt-40">
    <SectionContainer id="top">
      <div
        class="flex flex-col lg:flex-row md:flex-row gap-6 max-w-[35rem] md:max-w-max"
      >
        <img
          class="flex-none max-w-[150px] max-h-[150px] lg:max-w-[200px] lg:max-h-[200px] lg:order-2 md:order-2 w-full rounded-xl text-pretty shadow-md"
          src="/imgs/ahtesam-image.webp"
          alt="Ahtesam Muhammad photo"
        />
        <div class="flex-1">
          <h1
            class="flex flex-col sm:flex-row gap-1 items-start sm:items-center text-2xl sm:text-3xl md:text-4xl font-bold gap-x-2 mb-4"
          >
            Hey, I'm Ahtesam <Badge>Available for work</Badge>
          </h1>
          <p
            class="text-sm md:text-xl text-pretty md:leading-7 text-gray-600 mb-6"
          >
            <span>+3 years of experience.</span>
            <span class="text-orange-400 font-medium"
              >Web Developer and Full-stack Programmer.</span
            > From Spain, currently living in Krakow, Poland . Focused on designing
            websites that are truly one of a kind 👨‍💻.
          </p>
        </div>
      </div>
      <ul class="flex gap-3 sm:gap-4 flex-wrap">
        <li>
          <SocialPill href="https://github.com/AhtesamMuhammad">
            <GitHubIcon class="size-5" />
            GitHub
          </SocialPill>
        </li>
        <li>
          <SocialPill href="https://www.linkedin.com/in/ahtesamm/">
            <LinkedInIcon class="size-5" />
            LinkedIn
          </SocialPill>
        </li>
        <li>
          <SocialPill href="mailto:ahtesam.work@gmail.com">
            <MailIcon class="size-5" />
            ahtesam.work@gmail.com
          </SocialPill>
        </li>
      </ul>
    </SectionContainer>
    <SectionContainer id="experience">
      <h2 class="mb-8 text-3xl font-semibold flex items-center gap-4">
        <Plant class="size-8 font-bold" />
        Work experience
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="projects">
      <h2 class="text-3xl font-semibold flex gap-4 items-center mb-8">
        <Code class="size-8" />
        Most recent projects
      </h2>
      <Project />
    </SectionContainer>
    <SectionContainer id="studies">
      <h2 class="text-3xl font-semibold flex items-center gap-4 mb-8">
        <School class="size-8" />
        Studies
      </h2>
      <StudyItem />
    </SectionContainer>
    <SectionContainer id="skills">
      <h2 class="text-3xl font-semibold flex items-center gap-4 mb-8">
        <GoodFinger class="size-8" />
        Skills
      </h2>
      <SkillsItem />
    </SectionContainer>
  </main>
</Layout>
