---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import MailIcon from "../components/icons/Mail.astro";
import SocialPill from "../components/SocialPill.astro";
import Experience from "../components/Experience.astro";
import Plant from "../components/icons/Plant.astro";
---

<Layout
  title="Ahtesam Porfolio - Web Developer and Full stack Programmer"
  description="Hire Ahtesam to build your web or mobile application. Web Developer and Full-Stack Developer, specialized in creating unique applications."
>
  <main>
    <SectionContainer>
      <h1 class="text-5xl font-bold flex gap-x-2 mb-4">
        Hey, I'm Ahtesam <Badge>Available for work</Badge>
      </h1>
      <h2 class="text-[1.25rem] text-wrap text-gray-600 mb-6">
        <span>+3 years of experience.</span>
        <span class="text-orange-400 font-medium"
          >Web Developer and Full stack Programmer.</span
        > From Barcelona, Spain ✈️. Focused on designing websites that are truly
        one of a kind 👨‍💻.
      </h2>
      <ul class="flex gap-x-4">
        <li>
          <SocialPill
            class="text-orange-500 hover:bg-orange-500 hover:text-white"
            href="https://github.com/AhtesamMuhammad"
          >
            <GitHubIcon class="size-5" />
            GitHub
          </SocialPill>
        </li>
        <li>
          <SocialPill href="https://www.linkedin.com/in/ahtesamm/">
            <LinkedInIcon class="size-5" />
            LinkedIn
          </SocialPill>
        </li>
        <li>
          <SocialPill href="mailto:ahtesam.work@gmail.com">
            <MailIcon class="size-5" />
            ahtesam.work@gmail.com
          </SocialPill>
        </li>
      </ul>
    </SectionContainer>
    <SectionContainer id="experience">
      <h3 class="text-3xl font-semibold flex items-center gap-4">
        <Plant class="size-8 font-bold" />
        Work experience
      </h3>
      <Experience />
    </SectionContainer>
  </main>
</Layout>
