<a
  href="https://www.linkedin.com/in/ahtesamm/"
  class="flex justify-center items-center"
  target="_blank"
  rel="noopener"
>
  <span
    class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300 border border-green-400 hover:bg-green-400 hover:text-green-100 transition hover:scale-105"
    ><slot /></span
  >
</a>
