---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    title: "Frontend Web Developer",
    date: "Jun 2025 - Present",
    description:
      "Providing freelance web development services focused on building custom websites and e-commerce platforms. Experienced in React, TypeScript, Tailwind, and JavaScript, with the ability to integrate and adapt to various backends such as WordPress, or client-preferred systems. Skilled in managing API integrations, solving CORS issues, and handling hosting setups. Open to quickly learning and adopting new tools to deliver high-quality, tailored solutions for each project.",
  },
  {
    title: "FULL STACK DEVELOPER",
    date: "Jan 2025 - May 2025",
    description:
      "Designed and developed the mechanics of a video game using Godot Engine and GDScript, leveraging my web design and development skills, while also creating the studio's official website with Astro, Tailwind, and JavaScript, integrating an API for email management via CTA on Netlify.",
    company: "Somni Studio",
  },
  {
    title: "QA TESTER",
    date: "Nov 2023 - Feb 2024",
    description:
      "Performed Web3 testing and analyzed data using recording tools and network analysis. Led an automation project with Playwright, reported bugs in Jira, and documented in Notion. Worked with the team to reproduce and fix bugs.",
    company: "Brickken",
  },
  // {
  //   title: "DEVELOPER INTERN ERASMUS+",
  //   date: "March 2023 - May 2023",
  //   description:
  //     "Learned programming concepts and explored new web development tools. Adapted to an international setting and improved English skills. Gained more programming knowledge and strengthened language abilities.",
  //   company: "Opolglass",
  // },
  // {
  //   title: "MARKETING ASSISTANT",
  //   date: "Nov 2020 - April 2021",
  //   description:
  //     "Managed client database efficiently. Increased brand awareness through social media posts. Created engaging marketing videos.",
  //   link: "",
  //   company: "MailBoxes Etc.",
  // },
];
---

<ol class="relative border-s border-gray-200 px-4 mx-4">
  {EXPERIENCE.map((experience) => <ExperienceItem {...experience} />)}
  <a
    class="block text-sm text-center mt-10 md:mt-14 underline text-orange-400 hover:text-orange-600"
    href="https://www.linkedin.com/in/ahtesamm/details/experience/"
    target="_blank"
    rel="noopener"
  >
    See more experience &rarr;
  </a>
</ol>
