---
import Download from "./icons/Download.astro";
---

<header
  class="flex justify-center items-center text-xs mb-16 pt-7 pb-2 sm:pb-12 mx-auto "
>
  <nav class="flex items-center gap-6 sm:gap-11 text-sm border rounded-full py-1 px-3 bg-gray-100/30">
    <a href="#experience">Experience</a>
    <a href="#projects">Projects</a>
    <a href="#studies">Studies</a>
    <a href="#skills">Skills</a>
    <a
      class="flex items-center gap-2 py-1.5 px-4 bg-orange-500 text-white font-medium rounded-full hover:bg-orange-400 transition duration-300"
      href="/public/ahtesam-resume.pdf"
      download
    >
      Resume
      <Download class="size-4" />
    </a>
  </nav>
</header>
