<header class="flex justify-between items-center py-7 w-[1120px] mx-auto">
  <img
    class="rounded-full size-12"
    src="../../public/ahtesam-image.png"
    alt="Ahtesam Muhammad photo"
  />

  <nav class="flex gap-11">
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
  </nav>
</header>
