---
const { class: className, id } = Astro.props;
---

<section
  id={id}
  class={`${className} w-full mx-auto lg:w-[54rem] md:w-[46rem] mb-16 md:mb-20 md:first:mb-40 last:mb-0`}
>
  <slot />
</section>
