---
const groupSkills = [
  {
    title: "Techinical Skills",
    skills: [
      "Java",
      "Spring Boot",
      "Javascript",
      "Android Studio",
      "CSS",
      "Tailwind",
      "HTML",
      "MySQL",
      "MongoDB",
      "Astro",
      "node.js",
      "JQuery",
      "Docker",
      "Git",
      "JIRA",
      "Cypress",
      "Playwright",
      "Web 3",
      "VsCode",
      "Intellij",
      "WebStorm",
    ],
  },
  {
    title: "Soft Skills",
    skills: [
      "Problem-Solving",
      "Teamwork",
      "Adaptability",
      "Creative",
      "Leadership",
      "Work Ethic",
    ],
  },
  {
    title: "Methodologies",
    skills: ["Agile", "Scrum", "CI/CD"],
  },
];
---

{
  groupSkills.map((group) => (
    <div class="mb-6">
      <h3 class="text-lg font-semibold text-orange-400 mb-2">{group.title}:</h3>
      <div class="flex flex-wrap gap-2 ml-5">
        {group.skills.map((skill) => (
          <button class="cursor-default text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 font-medium rounded-full text-xs md:text-sm px-3 py-1.5 md:px-5 md:py-2.5">
            {skill}
          </button>
        ))}
      </div>
    </div>
  ))
}
