---
const groupSkills = [
  {
    title: "Techinical Skills",
    skills: [
      "Java",
      "Spring Boot",
      "Javascript",
      "Android Studio",
      "CSS",
      "Tailwind",
      "HTML",
      "MySQL",
      "MongoDB",
      "Astro",
      "node.js",
      "JQuery",
      "Docker",
      "Git",
      "JIRA",
      "Cypress",
      "Playwright",
      "Web 3",
      "VsCode",
      "Intellij",
      "WebStorm",
    ],
  },
  {
    title: "Soft Skills",
    skills: [
      "Problem-Solving",
      "Teamwork",
      "Adaptability",
      "Creative",
      "Leadership",
      "Work Ethic",
    ],
  },
  {
    title: "Methodologies",
    skills: ["Agile", "Scrum", "CI/CD"],
  },
];
---

{
  groupSkills.map((group) => (
    <div key={group.title} class="mb-6">
      <h3 class="text-lg font-semibold text-orange-400 mb-2">{group.title}:</h3>
      <div class="flex flex-wrap gap-2 ml-3">
        {group.skills.map((skill, index) => (
          <button
            key={index}
            class="cursor-default text-gray-900 bg-white border border-gray-300  hover:bg-gray-100 font-medium text-xs px-2.5 py-1.5 sm:font-medium sm:text-sm sm:px-5 sm:py-2.5 rounded-full "
          >
            {skill}
          </button>
        ))}
      </div>
    </div>
  ))
}
